---
import Layout from '../layouts/Layout.astro';
import Card from '@components/Card.svelte';
import client from '@lib/sanityClient';
const query = `*[_type == "product"]{
 title,
  tags,
  _id,
  "price":defaultProductVariant.price,
  "image":defaultProductVariant.images[0]{
   "asset": asset->,
  },
  "summary":blurb
}`;
const data = await client.fetch(query).then(items=>items)
console.log(data)
---

<Layout title="Home Page">
	<main>
		<h1>Foods</h1>
    <div class='grid grid-cols-1 md:grid-cols-4 gap-4 p-4'>
      {
        data.map(item=><Card key={item._id} food={item}/>)
      }
    </div>
	</main>
</Layout>

